<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>神奇</string>
		<key>text</key>
		<string>儿子中考考试考差了，被老婆骂了一顿。
　　我去安慰儿子：“你要努力学习，以后一定要超越爸爸。”
　　儿子愣了一下，弱弱来了一句：“别的我不敢保证。但是，以后找个比你好的老婆还是很有把握的。”‍‍‍‍</string>
	</dict>
	<dict>
		<key>name</key>
		<string>幽游白书</string>
		<key>text</key>
		<string>甲：“手机斗地主一直输，是什么原因让你坚持下去的？”
　　乙：“因为队友一直鼓励我。”
　　甲：“怎么鼓励的？”
　　乙：“你的牌打的也忒好了！”
　　甲：“……”‍‍</string>
	</dict>
	<dict>
		<key>name</key>
		<string>你是我的眼</string>
		<key>text</key>
		<string>一同学，她和他弟吵架。她弟就说“没人要的东西，滚出我家”。大冬天晚上她穿着拖鞋跑出去了。她在外面睡了一晚上。第二天，她爸妈找到她，牵着她的手把她带回家。然后一进门看见她弟，过去就是一大耳光。她爸说“你以后要是再说这种混账话就给我滚，老子认识她比认识你早”。我那同学是她爸妈领养的。</string>
		<key>picture</key>
		<string>Image-1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我是一个粉刷匠</string>
		<key>text</key>
		<string>家有六岁小萝莉一枚，江湖人称雯姐。　　一日和妈妈吵嘴，转身掐着腰对着爷爷奶奶咆哮:瞅瞅你俩，怎么给你儿找的媳妇，整天欺负我！！！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>周董</string>
		<key>text</key>
		<string>公路边，一尾大鱼在水泥地上跳。　　小朋友看见了，他跟妈妈说：“妈妈，路边有一尾鱼在等车，快叫叔叔停车。”　　司机真的停车，小朋友下车把鱼抱上来了。小朋友说：“叔叔，我要给鱼买半票还是全票？”　　司机说：“给它搭顺风车吧，反正你会抱它。” </string>
		<key>picture</key>
		<string>Image-0.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>不能说的秘密</string>
		<key>text</key>
		<string>一长得有几分对不起观众的女同学，在玩真心话大冒险游戏中不幸抽中，选择大冒险。　　内容为问一名异性：我可以抱你吗？于是以下情景出现：女同学（随意在走廊上拦了一位男同学）：“我可以抱你吗？”　　男同学用极度惊吓的表情，复杂地看了一眼这位女同学。 　　女同学明显被气到了，咬牙切齿地说：“哥们。别误会，我说的是陈述句！”　　解释：我可以抱你吗？（我可以抱你妈。） </string>
	</dict>
	<dict>
		<key>name</key>
		<string>情非得已</string>
		<key>text</key>
		<string>暗恋已久的女神表白了；　　女神：“我喜欢一个人。”　　我：“谁？”　　女神：“我喜欢一个人。” 　　我：“谁啊？”　　女神：“我喜欢一个人！”　　我：“到底谁啊？”　　女神：“姐喜欢单身！” </string>
		<key>picture</key>
		<string>Image-3.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>托雷斯</string>
		<key>text</key>
		<string>甲：你昨天为什么没来上班？　　乙：我老婆回来了。　　甲：你老婆回来了，为什么就不能来上班？　　乙：她是早上回来的。　　甲：不上班和你老婆早上回来有什么关系？　　乙：我老婆早上回来看到我和情人躺在床上，然后我就没有办法来上班了。 </string>
	</dict>
	<dict>
		<key>name</key>
		<string>雅虎</string>
		<key>text</key>
		<string>一天，我在大街上溜达。突然见我前方不远处有一男的惨无人道的撕扯一女子的衣服，女子拼命试图挣脱，嘴里不停地喊着“非礼啦，救命啊”！　　更令我生气的是，旁边围了一大圈看热闹的人却没有一人站出来制止。于是，我毫不犹豫跑上前去，把男子一脚踹开，正在这时，不知从哪冒出来一大胡子男人，生气的说道：“停！剧务赶快把这捣乱的人拽走！重新拍！” </string>
		<key>picture</key>
		<string>Image-2.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>彩泥</string>
		<key>text</key>
		<string>本人幼师，昨天上课教幼儿儿歌，“宝宝睡在小床上，宝宝的梦是甜的。”　　我问：“小朋友，宝宝的梦为什么是甜的呢？”　　一个洪亮的声音从角落里传出来：“因为摸着咪咪睡得！”　　我瞬间石化，孩子，这答案真犀利！ </string>
	</dict>
</array>
</plist>
